# Logs
*.log
logs

# Dev to-do-list
todo.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
